body{
	position: relative;
	background: #FFF;
	padding: 0;
	padding-top: 1px;
	margin: 0; 
	position: relative;
	font-family: 'Nunito', sans-serif;
	font-size: 16px; 
}
.progressbar{
	position: relative;
	height: 12px;
	background-color: #E6E6E6;
	border-radius: 16px;
	margin: 0 28px;
	margin-top: 45px;
}
.progressbar span {
	position: absolute;
	z-index: 10;
    top: -5px;
	left: 25%;
	display: block;
	border-radius: 10px;
	width: 20px;
	height: 20px;
	font-size: 10px;
	color: #A9A9A9;
	line-height: 2;
	text-align: center;
	background: #E6E6E6;
}
.progressbar span:nth-child(2){ left: 50%; }
.progressbar span:nth-child(3){ left: 75%; }
.progressbar .progress {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	transition: width 1s ease-in-out;
	width: 0%;
	height: 12px;
	border-radius: 16px;
	background: #7BD1D3;
}
.quiz{
	position: relative;
	display: none;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	margin: 0 28px;
}
.quiz h2{
	margin: 35px 0; 
	font-weight: bold;
	font-size: 24px;
	color: #797979;
}
.quiz .alternativa, .quiz .validar{
	display: block;
	width: 100%;
	background: #E6E6E6;
	border-radius: 24px;
	border: 0;
	padding: 25px 0;
	margin: 25px 0; 
	font-weight: 700;
	font-size: 16px;
	color: #4F4F4F;
	text-align: center;
}
.quiz .alternativa.ativo{
	background: #BD74DF;
	color: #FFF;
}
.quiz .validar{
	position: absolute;
	z-index: 10;
	opacity: 0;
	transition: opacity .5s ease-in-out;
	bottom: 10px;
}
.quiz .resposta{
	position: absolute;
	z-index: 1;
	bottom: -148px;
	padding-top: 30px;
	height: 118px;
	width: 100%;
	border-radius: 40px 40px 0px 0px;
	text-align: center;
	font-weight: 800;
	font-size: 30px;
	transition: bottom 800ms cubic-bezier(0.760, -0.330, 0.340, 1.400);
}
.quiz .resposta.certo{
	bottom: -10px;
	background: #EBF2C8;
	color: #728128;
}
.quiz .resposta.errado{
	bottom: -10px;
	background: #FFACA0;
	color: #E04832;
}